/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */

* {
    @apply m-0 p-0 border-0;
}

body {
    @apply m-0 p-0 h-full w-full bg-black
}

@layer utilities {
    .animation-duration-80s {
      animation-duration: 100s;
    }
    .animation-duration-100s {
      animation-duration: 350s;
    }
    .animation-duration-120s {
      animation-duration: 250s;
    }

    .animation-delay-start-right {
      transform: translateX(-90%);
    }
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: marquee-left 350s linear infinite;
}

/* Ajuste específico para la fila reverse (segunda fila) */
.reverse .marquee-content {
  animation: marquee-right-reverse 100s linear infinite;
}