@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inspiration&family=Roboto+Slab:wght@300;400&display=swap');

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------------------------- */
/* 🌍 Estilos base personalizados */
/* ----------------------------- */
@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }

  body {
    height: 100%;
    width: 100%;
    background-color: rgb(6, 6, 6);
    font-family: 'Ubuntu', sans-serif;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-left {
  animation: scrollLeft 200s linear infinite;
}

.animate-scroll-right {
  animation: scrollRight 300s linear infinite;
}

@keyframes iconScrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes iconScrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-icon-scroll-left {
  animation: iconScrollLeft 100s linear infinite;
}

.animate-icon-scroll-right {
  animation: iconScrollRight 200s linear infinite;
}
